@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Projects";
    ViewBag.HideFooter = true;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <style>

        .btn {
            display: block;
            margin: 50px auto;
            width: fit-content;
            border: 2px solid black;
            padding: 14px 50px;
            border-radius: 6px;
            text-decoration: none;
            color: black;
            transition: background 0.5s;
            align-items: center;
        }

        .btn:hover {
           background: #006d77;
        }

   
    </style>
</head>
<body>
<div id="projects">
    <div class="container">
        <h1 class="sub-title">Projects</h1>
        <div class="projects-list">
            <div class="center-content">
                <h2>Quick Scheduler</h2>
                <img src="~/assets/images/Scheduler_pic.png" height="100" alt="motivation-img">
                <p>
                    This Quick Scheduler app is for individuals who are on the go and needs to stay organize. They are able to quickly schedule meetings 
                    or reminders within this app. It tracks the data for the user as well. They can also update, create new entries, or even the reminders/meetings that they do not 
                    need anymore. 
                </p>
                    <a href="https://github.com/vphillips1/QuickScheduler" style="color: black;">Learn more</a>
            </div>
            <div class="center-content">
                <h2>Motivational Meme</h2>
                    <img src="~/assets/images/be_kind.png" height="100" alt="motivation-img">
                <p>
                    Created a motivational meme for encouragement and positivity. I wanted to do a mini meme project because I usually add motivational laptop backgrounds to my computer.
                </p>
                    <a href="https://vphillips1.github.io/Motivational-Meme-Project/" style="color: black;">Learn more</a>
            </div>
            <div class="center-content">
                <h2>Personal Website</h2>
                    <img src="~/assets/images/blog-img.jpg" height="100" alt="motivation-img">
                <p>
                    I created a personal blogging website to discuss about the latest trending products. I am still working on this project. Planning on updating the styles and adding more content.
                </p>
                    <a href="https://vphillips1.github.io/My-Blog/index.html" style="color: black;">Learn more</a>
            </div>
            <div class="center-content">
                <h2>Cybersecurity</h2>
                    <img src="~/assets/images/computerimage.jpg" height="100" alt="motivation-img">
                <p>
                    I created a portfolio website to show off my cybersecurity projects in google sites. My cybersecurity portfolio showcase different projects 
                    regarding how to handle certain security threats and coding tasks. 
                </p>
                    <a href="https://sites.google.com/view/vfcsportfolio/home" style="color: black;">Learn more</a>
            </div>
          
            <div class="center-content">
                <h2>Weather Wonders</h2>
                    <img src="~/assets/images/WeatherBackgroundpic.png" height="100" alt="motivation-img">
                <p>
                    Created a weather app that gets weather data from an api. Currently, you can get the 5 day forecast for a particular city. Eventually I want 
                    for the user to enter in a particular city and get back the weather for that location.
                </p>
                    <a href="https://github.com/vphillips1/Weather-Wonder-App" style="color: black;">Learn more</a>
                   
            </div>
            
                <div class="center-content">
                    <h2>Movie App</h2>
                    <img src="~/assets/images/movie_pic.png" height="100" alt="motivation-img">
                    <p>
                        Created a movie application in C#. The user can select a movie they would like to check out. It will let them know if the
                        movie is available or not. If it is available they are able to check out the movie. I created this app because I enjoy 
                        watching all types of movies. My favorite movies are horror and comedy.
                    </p>
                    <a href="https://github.com/vphillips1/DevBuild_Lab4.2Movies/blob/main/Lab4.2Movies/Program.cs" style="color: black;">Learn more</a>

                </div>
                <div class="center-content">
                    <h2>Donuts and Devs App </h2>
                    <img src="~/assets/images/donuts_pic.jpg" height="100" alt="motivation-img">
                    <p>
                        Donuts and Dev is an application that provides a variety of different donuts on display. It uses an Api to pull the data. Within the model, you will get the properties 
                        of the donut which are the title, description and image and etc. This application was exciting to work on and to gain more practice implementing api's within my projects.
                    
                    </p>
                    <a href="https://github.com/vphillips1/Donut-Dev/tree/main" style="color: black;">Learn more</a>

                </div>
                <div class="center-content">
                    <h2>Angular Social Posts</h2>
                    <img src="~/assets/images/social_post.png" height="100" alt="motivation-img">
                    <p>
                        I created a Angular Social Posts application for one of my labs when I was in bootcamp. This was one of my favorite projects to work on. For this angular application, the user 
                        can post or edit a thought. They also have an option to delete their post. The application reminds of any social media site where users would usually post something 
                        about their day or how they are feeling. 
                    </p>
                    <a href="https://github.com/vphillips1/DevLab17-AngularSocialPosts/settings" style="color: black;">Learn more</a>

                </div>
        </div>
    </div>
        
</div>
 
    <a href="#" class="btn btn-primary btn-color btn-lg fw-bolder" style="display: block; margin: auto;">See more</a>

</body>
</html>