@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Skills";
    ViewBag.HideFooter = true;
}

<div id="skills">
    <div class="container">
        <h1 class="sub-title">My Skills</h1>
        <div class="skills-list">
            <div>
                <h2>Web Development</h2>
                <ul>
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>Angular</li>
                    <li>Typescript</li>
                    <li>Javascript</li>
                    <li>C#</li>
                </ul>
            </div>
            <div>
                <h2>Backend Development</h2>
                <ul>
                    <li>C#</li>
                    <li>SQL</li>
                    <li>Python</li>
                    <li>Git</li>
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>Communication</li>
                </ul>

            </div>
            <div>
                <h2>Cybersecurity</h2>
                <ul>
                    <li>Security Frameworks, controls, design principles</li>
                    <li>Network Security</li>
                    <li>Linux line-command</li>
                    <li>Organizational risk management</li>
                    <li>Security Policy</li>
                    <li>Programming (SQL, Python)</li>

                </ul>

            </div>
        </div>
    </div>
</div>

<div id="hobbies">
    <div class="container">
        <h1 class="sub-title">My Hobbies</h1>
        <div class="hobbies-list">
            <div>
                <h2>Creative</h2>
                <ul>
                    <li>Cooking</li>
                    <li>Singing</li>
                    <li>Writing</li>
                    <li>Publishing Coloring Books </li> 
                    <li>Publishing Journals and Planners</li>

                </ul>
            </div>
            <div>
                <h2>Outdoor</h2>
                <ul>
                    <li>Gardening</li>
                    <li>Planting Flowers</li>
                    <li>Fishing</li>
                    <li>Nature walks</li>
                    <li>Kayaking</li>
                </ul>
            </div>
            <div>
                <h2>Social</h2>
                <ul>
                    <li>Volunteering</li>
                    <li>Participating in community activities</li>
                </ul>
            </div>
        </div>
    </div>
</div>